.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #07889b;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2.5vmin);
  color: white;
}

.app-contents {
  margin: 0 20vw;
  justify-content: center;
}

.bingo-number {
  width: 5vw;
  height: 5vh;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.called-number {
  background-color: #e37222;
  color: white;
  font-weight: bolder;
}

.btn {
  border: 1px solid black;
  background-color: #66b9bf;
  padding: 10px;
  width: 100px;
}

.announcer-area {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.card-container {
  align-self: center;
  margin: 2vh 0 5vh;
}

.grid-row-wrapper {
  margin: 2vh 0;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
